@model MyBlog.Models.PrivateLetter

@{
    ViewBag.Title = "删除私信";
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}

<h2>删除私信</h2>

<h3>确定删除此私信?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromUser.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToUser.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LetterTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LetterTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LetterContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LetterContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SendedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReaded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsReaded)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回我的私信", "Index")
        </div>
    }
</div>
