@model MyBlog.Models.Blog

@{
    ViewBag.Title = "删除博客";
    Layout = "~/Views/Shared/_Layout_Profile.cshtml";
}

<h2>删除博客</h2>

<h3>确认删除此博客?</h3>
<div>
    <p class="text-center h2">@Html.DisplayFor(model => model.BlogTitle)</p>
    <hr />
    <p>@Html.Raw(Model.BlogContent)</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadedTimes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReadedTimes)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回我的博客", "Index")
        </div>
    }
</div>
